/* resource page flex */
.resource-page-body{
    padding: 10px 0;
}

.resource-page-container{
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.resource-page-outer,
.resource-page-inner{
  list-style-type: none;
  padding: 0;
}

.resource-page-outer{
  max-width: 800px;
  margin: 0 auto;
}

.resource-page-outer li,
.resource-page-inner{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.resource-page-inner li{
  padding: 0 8px;
  justify-content: space-between;
}

.resource-page-outer li button{
   margin: auto;
  text-transform: uppercase;
  letter-spacing: .09em;
  justify-content: space-between;
}

.resource-page-outer li label,
.resource-page-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.resource-page-outer > li > label,
.resource-page-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.resource-page-outer li p {
  margin: 0;
}

.resource-page-outer li {
    padding: 5px;
    border: none;
}

/* resource page font */

.resource-page-title{
  font-size: 1.5em;
}

.resource-page-phone a{
  font-size: 1.3em;
  color: #2a9d8f;
  text-decoration: none;
}

.resource-page-phone a:hover{
  color: #e24d28;
}

.resource-page-url{
  font-size: 1.05em;  
}

.resource-page-url:hover{
    color: #e24d28;
}
  
.fa {
  padding: 20px;
  font-size: 25px;
  width: 30px;
  text-decoration: none;
  text-align: center;
}

.fa:hover{
  color: #E24D28;
}

.social-media{
  text-align: center;
}