body {
    background:#D8E4FF;
}

p, a {
    color: #1C2321;
    font-family: Roboto;
}
  
button {
    display: inline-block;
    background-color: #5E6572;
        border: 2px double #cccccc;
        color: #eeeeee;
        text-align: center;
        padding: 8px 16px;
        transition: all 0.5s;
        cursor: pointer;
        text-transform: uppercase;
        letter-spacing: .09em;
        border-radius: 2px;
}

button span{
    display: inline-block;
    position: relative;
    transition: .05s;
    cursor: pointer;
}

button span:after{
    content: '\00bb';
    transition: .05s;
    position: absolute;
    transition: .05s;
    opacity: 0;
    right: -20px;
    top: 0;
}

button:hover {
  background-color: #A9B4C2;
}

button:hover span {
  padding-right: 5px;
}

button:hover span:after {
    opacity: 1;
    right: 0;
}
.ResourcePageHeader{
    text-align: center;
    padding-top: 5px;
    margin-bottom: 10px;
}

.ResourcePageUL {
    display: flex;
    flex-direction: column;
    padding: 0 25px;
  }
  
  #ResourcePageIL {
    padding: .1em;
    list-style: none;
    font-size: .92em;
}

.ResourcePageTitle {
  font-size: 1.1em;
  font-weight: 600;
}

.ResourcePageCategory {
    font-size: 1em;
    font-weight: 500;
}

.ResourceContacts {
  text-align: center;
  margin-bottom: 8px;
}

.ResourcePhone a {
    color: #F45D01;
    font-size: 1.1em;
    font-weight: 500;
  }

.ResourceAddress {
  font-style: italic;
  padding-left: inherit;
}

.crudBtns{
  display: flex;
  justify-content: space-around;
}

.SocialMedia {
  text-align: center;
}

.fa {
  padding: 20px;
  font-size: 25px;
  width: 30px;
  text-decoration: none;
}

/* flexbox forms */

/* .flex-outer li,
.flex-inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}
 
.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-inner li {
    width: 100px;
}

.flex-inner {
    justify-content: space-between;
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}

.container * {
  box-sizing: border-box;
}

.flex-outer,
.flex-inner {
  list-style-type: none;
  padding: 0;
}

.flex-outer {
  max-width: 800px;
  margin: 0 auto;
}

.flex-inner {
  padding: 0 8px;
  justify-content: space-between;  
}

.flex-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.flex-outer li label,
.flex-outer li p {
  padding: 8px;
  font-weight: 300;
  letter-spacing: .09em;
  text-transform: uppercase;
}

.flex-outer > li > label,
.flex-outer li p {
  flex: 1 0 120px;
  max-width: 220px;
}

.flex-outer > li > label + *,
.flex-inner {
  flex: 1 0 220px;
}

.flex-outer li p {
  margin: 0;
}

.flex-outer li input:not([type='radio']),
.flex-outer li textarea {
  padding: 15px;
  border: none;
}

.flex-outer li button {
  margin-left: auto;
  padding: 8px 16px;
}

.flex-inner li {
  width: 100px;
} */