.main-resource{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-resource-title{
  font-size: 1.5em;
  font-weight: lighter;
  text-align: center;
  letter-spacing: .05em;
}

.main-resource p{
  letter-spacing: .02em;
  text-align: center;
  font-size: 1.3em;
  color: #2a9d8f;
}

.main-resource-title:hover{
  color: #666666;
}

.main-resource-category{
  height: 40px;
  margin-bottom: 10px;
}

.pagebreak{
  font-size: 1.4em;
}
