.Header {
  padding-top: 35px;
    text-align: right;
    font-size: .9em;
}

#navLI {
  list-style: none;
  display: inline;
}

.navUL{
  margin: 10px;
  display: flex;
  justify-content: space-between;
}
