.main-title{
  font-family: sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  text-transform: uppercase;
  font-style: italic;
  height: auto;
  padding-top: 30px;
  background-color: #FFC857;
}

.main-title:hover{
  text-shadow: 0 0 10px #fdf91b;
}

.main-subtitle{
  color: #5f5956;
  font-family: helvetica;
  font-size: 1.15em;
  letter-spacing: .1em;
  text-align: right;
}

.container{
  width: 100%;
  padding: 20px;
  margin: 0 auto;
}

.main-header .container{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav ul{
  margin: 1em 0 .5em;
  text-align: center;
}

nav li{
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em 1.5em;
  font-family: tahoma;
  font-weight: 500;
  font-size: 1.1em;
}

nav a:hover{
  color: #666666;
}
