.Header {
  padding-top: 25px;
  text-align: right;
  font-size: 1em;
}

.Header p{
  color: #5f5956;
  font-family: helvetica;
}

#navLI {
  list-style: none;
  display: inline;

}

.navUL{
  margin: 0;
  padding: 8px;
  border-radius: 1em;
  display: flex;
  justify-content: space-evenly;
  background-color: #FFC857;
}